@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  
}

body{
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: white;
    width:100vw;
  
}
body  .login {
  margin: 0;
  display: flex;
  
  justify-content: center;
  align-items: center;
 width: 100vw;
  min-height: 100vh;
  
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color:rgb(0, 0, 0,0.5);
}


.login-button{
  background-color:#072E33 ;
  width:80%;
  padding: 5px;
  border-radius:5px;
  margin: 2px;
  color: white;
}

.login-button:hover{
  background-color: rgb(7, 46, 51,0.7);
}
.log{
  background-color:#072E33 ;
  
  width: auto;
  padding-left: 2px;
  padding-right: 2px;
  border-radius:2px;
  margin: 2px;
  color: white;
}

.log:hover{
  background-color: rgb(7, 46, 51,0.5);
}

#file{
  display: none;
}

.login-header{
  
 
  width: 50%;
  display: flex;
  justify-content: center;
  height: 60px;
  font-size: 40px;
  margin: 5px;
  border-radius: 3px;
}
.input-button{
  width: 80%;
  
  border-radius: 5px;
  text-align: center;
  height: 40px;
  color: #072E33;
  margin: 2px;
  
}

.input-button:hover{
  background-color:rgba(150, 147, 65, 0.9) ;
}

.input-button:focus { 
  
  outline-color: hsl(208, 41%, 25%);
}


.loginform{
  display: flex;
  flex-direction: column;
  width: 90vw;
  
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 50vh;
  border-radius: 5px;
  background-color: rgb(0, 0, 0,0.5);
  
 
  
  align-items: center;
}

@media screen and (min-width:700px) {
  .loginform{
    width: 50vw;
  }
  
}
@media screen and (min-width:900px) {
  .loginform{
    width: 40vw;
  }
  
}




